body{
    background: url("coffeebg.jpg") no-repeat center center fixed;
    color : #fff;
    font-family: 'Montserrat Alternates', sans-serif;
}
.con{
    
    height: 90vh;
}
.divRow{
    height: 300px;
   
}
h1{
    background-color: gray
}
img{
    height : 300px;
    width : 300px
}
.footer{
    background-color: black;
    
}